$primary-font: 'Verdana', sans-serif;
$heading-font: 'Georgia', serif;

$light-bleu		: #95CFF8;
$yellow			: #FFE200;
$light-green	: #64AA90;
$blue			: #008BED;
$dark-bleu		: #002b49;
$darkgray		: #2e2e2e;